@import url('./main-layout.css');
@import url('./views/cliente-view.css');
@import url('./views/habitacion-view.css');
@import url('./views/reserva-view.css');    html {
      --lumo-base-color: #00332a;
      --lumo-primary-color: hsl(224, 100%, 50%);
      --lumo-primary-color-50pct: hsla(224, 100%, 50%, 0.5);
      --lumo-primary-color-10pct: hsla(224, 100%, 50%, 0.1);
      --lumo-body-text-color: hsla(214, 100%, 100%, 0.94);
      --lumo-primary-text-color: hsl(214, 0%, 98%);
      --lumo-border-radius-s: calc(var(--lumo-size-m) / 6);
      --lumo-border-radius-m: calc(var(--lumo-size-m) / 2);
      --lumo-border-radius-l: var(--lumo-size-m);
      --lumo-shade-5pct: hsla(214, 100%, 100%, 0.05);
      --lumo-shade-10pct: hsla(214, 100%, 100%, 0.1);
      --lumo-shade-20pct: hsla(214, 100%, 100%, 0.2);
      --lumo-shade-30pct: hsla(214, 100%, 100%, 0.3);
      --lumo-shade-40pct: hsla(214, 100%, 100%, 0.4);
      --lumo-shade-50pct: hsla(214, 100%, 100%, 0.5);
      --lumo-shade-60pct: hsla(214, 100%, 100%, 0.6);
      --lumo-shade-70pct: hsla(214, 100%, 100%, 0.7);
      --lumo-shade-80pct: hsla(214, 100%, 100%, 0.8);
      --lumo-shade-90pct: hsla(214, 100%, 100%, 0.9);
      --lumo-success-color-50pct: hsla(70, 100%, 11%, 0.5);
      --lumo-success-color-10pct: hsla(70, 100%, 11%, 0.1);
      --lumo-shade: hsla(214, 100%, 100%, 0);
      --lumo-success-color: hsl(70, 100%, 11%);
      --lumo-success-text-color: hsl(60, 100%, 49%);

    }
